.containar {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #2e81f4;
	margin-top: 100px;
}

.head {
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
}

.content {
	display: flex;
	flex-direction: column;
}

.form {
	margin-top: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formGroup {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: fit-content;
}

.formGroup label {
	font-size: 20px;
}

.formGroup input {
	border: 1px solid black;
	background-color: white;
	margin-top: 6px;
	min-width: 18em;
	height: 37px;
	padding: 0px 10px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	border-radius: 4px;
	margin-bottom: 31px;
	transition: all 250ms ease-in-out;
}

