
body{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: center;
    padding: 35px;
    
}
.contact-form{
    max-width: 450px;
    width: 85%;
    max-width: 320px;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50% , -50%);
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 2px  #000000b3;
    background-color: #001abc20;
    margin-top: 60px;
    
    
}
.contact-form h3{
    margin-top: 0;
}
.text{
    border: 1px solid gray;
    margin: 8px 0 ;
    padding: 12px 18px;
    border-radius: 8px;
}
.text label{
    display: block;
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
}
.text input,.text textarea{
    width: 100%;
    margin-top: 6px;
    font-size: 18px;
    border: none;
}
.btn{
    background: #9b59b6;
    width: 150px;
    height: 25px;
    text-transform: uppercase ;
}
