.all{
    font-family: Arial, Helvetica, sans-serif;
	margin: -5px;
	padding-left: 8%;
    padding-top: 3%;
    
}

.columns {
	float: left;
	min-width: 30%;
    padding: 10px;
}
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius:80px 80px 30px 30px ;
    border: 1px solid rgb(0, 0, 0);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: rgba(255, 255, 255, 0.562);
    color: black;
    box-shadow: 0 8px 8px 0px rgba(53, 41, 158, 0.664);
    border-radius:80px 80px 30px 30px ;

  }
  
  .flip-card-back {
    color: rgb(3, 3, 3);
    transform: rotateY(180deg);
    border-radius:80px 80px 30px 30px ;
  }

.flip-card-front img{
	padding: 12px;
    height: 80%;
    width: 100%;
	border-radius: 80px;
    border: 1px solid  rgba(173, 173, 173, 0.658);
}

.course-link{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 10px;  
}

.course-link h5{
background-color: #2e81f4;
padding: 10px 15px;
border-radius: 10px;
color: black;
}

.headline{
   margin-top: -6px;
}


.flip-card-back p{
    padding: 15px;
    font-size: 22px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

