.main{
    background-color: #01627f;
    padding: 2px;
    margin: 5px;
    position: relative;
}
.head{
    text-align: center;
}

.about{
    margin:1%;
    display: grid;
    grid-template-columns: repeat(2 ,25vw );
    min-height: 35vh;
    grid-auto-rows: 55vh;
    justify-content: space-evenly;
    font-size: medium;
    gap:-10px;
}
.card{
    box-shadow: 0 4px 8px rgba(0,0, 0, 0.2);
    border-radius: 4px;
    border-left: #01627f solid 4px;
    min-width: 25vw;
    min-height: 35vh;
}
.about :hover{
    color: #ffffff;
    background-color: #01627f ;
    border-left:#01627f solid 4px ;
    transform: scale(1.1);
    transition: all 0.3s linear;
}