* {
	font-family: inherit;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 600px) {
	.App {
		width: 100%;
		margin-bottom: 20px;
	}
}

.App {
	text-align: center;
}

